<div class="search-container">
  <mat-card>
    <mat-card-content>
      <app-search-bar (movieList)="setSearchResults($event)"></app-search-bar>
    </mat-card-content>
  </mat-card>
</div>

<div class="search-result-container">
  <mat-card>
    <mat-card-content>
      <app-results *ngIf="searchResults"
                   [results]="searchResults"
                   [title]="'Search results'"
                   [isResultRemovable]="false"
                   (addNomination)="addNominations($event)"
      ></app-results>
    </mat-card-content>
  </mat-card>
</div>

<div class="nomination-container">
  <mat-card>
    <mat-card-content>
      <app-results *ngIf="nominationsList"
                   [results]="nominationsList"
                   [title]="'Nomination List'"
                   [isResultRemovable]="true"
                   (removeNomination)="removeNominations($event)"
      ></app-results>
    </mat-card-content>
  </mat-card>
</div>
