<mat-expansion-panel
  [class.mat-elevation-z5]="!isTileExpanded"
  [class.mat-elevation-z14]="isTileExpanded"
  (click)="tileClicked()"
  [@remove]="isTileRemoved ? 'removed' : 'active'"
  (@remove.done)="removeClicked()">

  <mat-expansion-panel-header  *ngIf="isResultRemovable" [@add]="tileAddState">
    <mat-panel-title>{{movie.Title + " (" + movie.Year + ")"}}</mat-panel-title>
  </mat-expansion-panel-header>

  <mat-expansion-panel-header  *ngIf="!isResultRemovable">
    <mat-panel-title>{{movie.Title + " (" + movie.Year + ")"}}</mat-panel-title>
  </mat-expansion-panel-header>

  <button
    mat-raised-button
    style="background: #C2185B"
    *ngIf="movie && !isResultRemovable"
    (click)="nominateClicked()">
      Nominate
  </button>
  <button
    mat-raised-button
    style="background: #C2185B"
    *ngIf="isResultRemovable"
    (click)="isTileRemoved = true">
      Remove
  </button>
  <button
    mat-raised-button
    style="background: #C2185B"
    (click)="getMoreDetailsClicked()">
      Get more details
  </button>

</mat-expansion-panel>
