  <mat-card class="search-card">
    <mat-card-content>
      <app-search-bar (searchResults)="setSearchResults($event)"></app-search-bar>
      <mat-card-content>
        <app-movies-list
          *ngIf="searchResults"
          [results]="searchResults"
          [title]="'Search movies-list'"
          [areResultsRemovable]="false"
          (getMovieDetails)="getSelectedMovieDetails($event)"
          (addNomination)="addNominations($event)">
        </app-movies-list>
      </mat-card-content>
    </mat-card-content>
  </mat-card>

  <mat-card class="nomination-card">
    <mat-card-content>
      <app-movies-list
        *ngIf="nominationsList"
        [results]="nominationsList"
        [title]="'Nomination List'"
        [areResultsRemovable]="true"
        (getMovieDetails)="getSelectedMovieDetails($event)"
        (removeNomination)="removeNominations($event)">
      </app-movies-list>
      <!-- TODO put details panel in its own component -->
      <mat-card
        *ngIf="selectedMovie"
        [@getDetails]="isDetailCardLoaded ? 'loaded' : 'loading'"
        class="detail-card"
        [class.mat-elevation-z5]="true">
          <mat-card-header>
            <mat-card-title>{{selectedMovie.Title}}</mat-card-title>
            <mat-card-subtitle>Metacritic score : {{selectedMovie.Metascore}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="{{selectedMovie.Poster}}" alt="Poster of {{selectedMovie.Title}}">
          <mat-card-content>
            <p>
              {{selectedMovie.Plot}}
            </p>
          </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>

